# Core Libraries
langchain==0.0.x  
langchain-google-genai==0.0.x 
langchain-community==0.0.x  
faiss-cpu==1.7.2  
sentence-transformers==2.2.2  
huggingface-hub==0.0.x  
python-dotenv==0.20.0  
numpy==1.23.5 =
google-generativeai==0.0.x  
torch==1.13.1 

